{{define "form/realitySettings"}}
<template>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.show" }}'>
        <a-switch v-model="inbound.stream.reality.show"></a-switch>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.xver" }}'>
        <a-input-number v-model.number="inbound.stream.reality.xver" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.tls.uTLS" }}'>
        <a-select v-model="inbound.stream.reality.settings.fingerprint"
            :dropdown-class-name="themeSwitcher.currentTheme">
            <a-select-option v-for="key in UTLS_FINGERPRINT" :value="key">[[ key ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.dest" }}'>
        <a-row :gutter="8">
            <a-col :span="18">
                <a-input v-model.trim="inbound.stream.reality.dest"></a-input>
            </a-col>
            <a-col :span="6">
                <a-button type="primary" block @click="scanRealityDomain" :loading="inModal.scanningDomain">Scan / بررسی</a-button>
            </a-col>
        </a-row>
    </a-form-item>
    <a-form-item v-if="inModal.scanResult" label="Scan Status / نتیجه بررسی">
        <a-alert :message="inModal.scanResult.supported ? 'Supported / پشتیبانی می‌شود' : 'Not Supported / پشتیبانی نمی‌شود'"
                 :type="inModal.scanResult.supported ? 'success' : 'error'"
                 show-icon>
            <template slot="description">
                <div style="font-size: 13px; line-height: 1.6;">
                    <b>TCP:</b> [[ inModal.scanResult.tcpConnected ? 'Connected' : 'Failed' ]]<br/>
                    <b>TLS Handshake:</b> [[ inModal.scanResult.tlsHandshake ? 'Success' : 'Failed' ]]<br/>
                    <b>TLS Version:</b> [[ inModal.scanResult.tlsVersion ]]<br/>
                    <b>ALPN:</b> [[ inModal.scanResult.alpn ]]<br/>
                    <b>Issuer:</b> [[ inModal.scanResult.issuer ]]<br/>
                    <span v-if="inModal.scanResult.error" style="color: #ff4d4f; font-weight: bold;"><b>Error:</b> [[ inModal.scanResult.error ]]</span>
                </div>
            </template>
        </a-alert>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.tls.sni" }}'>
        <a-input v-model.trim="inbound.stream.reality.serverNames"></a-input>
    </a-form-item>
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                Short IDs
                <a-icon @click="inbound.stream.reality.shortIds = RandomUtil.randomShortId().join(',')" type="sync">
                </a-icon>
        </template>
        <a-input v-model.trim="inbound.stream.reality.shortIds" style="width:250px"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.spiderX" }}'>
        <a-input v-model.trim="inbound.stream.reality.settings.spiderX" style="width:250px"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.privateKey" }}'>
        <a-input v-model.trim="inbound.stream.reality.privateKey"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.publicKey" }}'>
        <a-input v-model.trim="inbound.stream.reality.settings.publicKey"></a-input>
    </a-form-item>
    <a-form-item label=" ">
        <a-space>
            <a-button type="primary" icon="import" @click="getNewX25519Cert">Get New Cert</a-button>
            <a-button danger @click="clearX25519Cert">Clear</a-button>
        </a-space>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.mldsa65Seed" }}'>
        <a-input v-model="inbound.stream.reality.mldsa65Seed"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.inbounds.stream.reality.mldsa65Verify" }}'>
        <a-textarea v-model="inbound.stream.reality.settings.mldsa65Verify"></a-textarea>
    </a-form-item>
    <a-form-item label=" ">
        <a-space>
            <a-button type="primary" icon="import" @click="getNewmldsa65">Get New Seed</a-button>
            <a-button danger @click="clearMldsa65">Clear</a-button>
        </a-space>
    </a-form-item>
</template>
{{end}}
